<div id="<%= dom_id customer_machine %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= customer_machine.customer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Machine:</strong>
    <%= customer_machine.machine_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= customer_machine.serial_number %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this customer machine", customer_machine, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this customer machine', edit_customer_machine_path(customer_machine), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
