<turbo-frame id="customer_machine" target="page-content">
  <div x-data:"{ editting: false }">
  <%= form_with(model: customer_machine, class: "contents", 
                url:customer_customer_machines_path(customer_machine.customer,customer_machine)) do |form| %>
    <% if customer_machine.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(customer_machine.errors.count, "error") %> prohibited this customer_machine from being saved:</h2>

        <ul>
          <% customer_machine.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-5">
      <%= form.label :machine_id %>
      <%= collection_select(:customer_machine,:machine_id, 
                   Machine.all.order(:name),:id,  :name, prompt: "") %>
    </div>
    <div class="my-5">
      <%= form.label :serial_number %>
      <%= form.text_field :serial_number,
        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
  </div>
</turbo-frame>
