<div x-data="{edit:false,
              toggle: function(bool) {
                if (bool) {
                   $refs.name.removeAttribute('readonly')
                   $refs.name.focus(); $refs.name.setSelectionRange(100, 100);
                }
                if (!bool) {
                  $refs.name.blur()
                  $refs.name.setAttribute('readonly',true)
                }
     }
  }">
  <%= form_with(model: customer, class: "contents") do |form| %>
    <% if customer.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
          <% customer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
    <p>
    </p> 
    <div class="grid-cols-2 my-5">
      <%= form.label :Customer %>
      <%= form.text_field :name, 
        readonly: true,
        "x-ref": "name",  
        class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
    <button type="button" @click="edit = !edit ;toggle(edit);">Change Name</button>

    </div>
    <div class="inline">
      <%= form.submit "x-show":"edit", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <% if ! customer.new_record? %>
      <%= link_to "Add machine", new_customer_customer_machine_path(customer), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <% end %>

      <%= link_to "Cancel", customers_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
    <% if (! @customer.new_record?) && @customer.customer_machines %> 
  <div class="my-10">
      <%= render template: "customer_machines/index", locals: { customer: customer, customer_machines: customer.customer_machines} %>
  </div>
  <% end %>
  <p>
</div>
