<!DOCTYPE html>
<html>
  <head>
    <title>Tailwindgui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- replaces typical render partial navbar -->
    <turbo-frame id="navbar" target="body" src="<%= home_navbar_path %>" >
    </turbo-frame>
    <!-- replaces typical yield -->
    <turbo-frame id="body" src="<%= root_path %>">
      <main class="container mx-auto mt-28 px-5 flex">
      </main>
    </turbo-frame>
  </body>
</html>
